@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

$md-gold: (
    50 : #fefdf1,
    100 : #fefbdd,
    200 : #fdf9c7,
    300 : #fcf6b0,
    400 : #fbf49f,
    500 : #faf28e,
    600 : #f9f086,
    700 : #f9ee7b,
    800 : #f8ec71,
    900 : #f6e85f,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fffffa,
    A700 : #fffce0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-red: (
    50 : #feefed,
    100 : #fbd7d1,
    200 : #f9bcb2,
    300 : #f7a193,
    400 : #f58c7c,
    500 : #f37865,
    600 : #f1705d,
    700 : #ef6553,
    800 : #ed5b49,
    900 : #ea4837,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffd1cd,
    A700 : #ffbab3,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$app-primary: mat-palette($md-gold);
$app-accent:  mat-palette($md-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);